<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>MY APP</header>
      <ul>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i>Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-link"></i>Shortcut</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-stream"></i>Overview</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-calendar"></i>Events</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-question-circle"></i>About</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-sliders-h"></i>Services</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-envelope"></i>Contact</a>
        </li>
      </ul>
    </div>

    {% block content %} {% endblock content %}
  </body>
</html>
