{% extends 'base_register.html' %} <br />

{% block login_title %}{% endblock login_title %} <br />

{% block login_content %} <br />
{% load static %} <br />
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}
<div class="sign-in-form active">
  <h1>Sign in to Your Brand</h1>
  {{form.error}}
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{form.name.label_tag}} {{form.name}}
      <small> {{form.errors.name}} </small>
    </div>
    <div class="form-group">
      {{form.email.label_tag}} {{form.email}}
      <small class="text-danger"> {{form.errors.email}} </small>
    </div>
    <div class="form-group">
      {{form.phone.label_tag}} {{form.phone}}
      <small class="text-danger"> {{form.errors.phone}} </small>
    </div>
    <div class="form-group">
      {{form.university.label_tag}} {{form.university}}
    </div>
    <div class="form-group">
      {{form.departMent.label_tag}} {{form.departMent}}
    </div>
    <div class="form-group">{{form.password.label_tag}} {{form.password}}</div>
    <div class="form-group">
      <button type="submit">SIGN UP</button>
    </div>
    <div class="create-aacount">
      Already registered?
      <a href="{% url 'loginview' %}" class="text-underline sign-in-form-btn">
        Sign In</a
      >
    </div>
  </form>
</div>

{% endblock login_content %} <br />
