{% extends 'base_register.html' %} <br />

{% block login_title %}{% endblock login_title %} <br />

{% block login_content %}

<div class="sign-in-form active">
  <h1>Sign in to Your Brand</h1>

  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">{{form.name.label_tag}} {{form.name}}</div>
    <div class="form-group">{{form.email.label_tag}} {{form.email}}</div>
    <div class="form-group">{{form.phone.label_tag}} {{form.phone}}</div>
    <div class="form-group">
      {{form.university.label_tag}} {{form.university}}
    </div>
    <div class="form-group">
      {{form.departMent.label_tag}} {{form.departMent}}
    </div>
    <div class="form-group">{{form.password.label_tag}} {{form.password}}</div>
    <div class="form-group">
      <button>SIGN UP</button>
    </div>
    <div class="create-aacount">
      Already registered?
      <a href="{% url 'loginview' %}" class="text-underline sign-in-form-btn">
        Sign In</a
      >
    </div>
  </form>
</div>

{% endblock login_content %} <br />
