* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #1B1212;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    position: fixed;
    left: 40px;
    top: 15px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    position: fixed;
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}


/* Home */

.right-side {
    position: fixed;
    right: 10px;
    top: 20px;
}

section {
    background-image: url("Young-person-laptops-technology-computers-shop.jpg");
    /* The image used */
}

.mynav {
    background: #1B1212;
}

.right_container {
    background-color: #1B1212;
    height: 100vh;
}

.right_container a {
    margin-top: 1.3rem;
    display: block;
    text-decoration: none;
}

.dark-mode-btn {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 10;
    background-color: var(--color-white);
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid var(--color-mid-gray);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.dark-mode-btn svg {
    -webkit-filter: invert(67%) sepia(7%) saturate(757%) hue-rotate(182deg) brightness(95%) contrast(88%);
    filter: invert(67%) sepia(7%) saturate(757%) hue-rotate(182deg) brightness(95%) contrast(88%);
    width: 16px;
    height: 16px;
}

.dark-mode-btn.active {
    background-color: green;
    border-color: var(--color-p);
}

.dark-mode-btn.active svg {
    -webkit-filter: invert(91%) sepia(31%) saturate(1482%) hue-rotate(328deg) brightness(102%) contrast(101%);
    filter: invert(91%) sepia(31%) saturate(1482%) hue-rotate(328deg) brightness(102%) contrast(101%);
}

.dark-mode-on .main {
    background-color: #1B1212;
    color: white;
    height: 100vh;
}

.dark-mode-on input {
    background-color: transparent;
    border: 1px solid var(--color-mid-gray);
}

.dark-mode-on .seperator span {
    background-color: var(--color-dark);
}

.dark-mode-on button:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
}